@media (max-width: 480px) {
  img {
    max-width: 100%;
  }
}

@media (min-width: 481px) {
  img {
    width: 480px;
  }
}

h2 {
  color:#bd1c3e;
}

div.author {
  color:#d16179;
}

div.b2t {
  text-align: right;
  font-size: x-small;
}
